@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, input, textarea, select, a, p, span, li{font-family: 'Noto Sans KR', sans-serif;}


.width_1650{width:1650px;}
.width_1600{width:1600px;}
.width_1400{width:1400px;}
.width_1300{width:1300px;}
.width_1200{width:1200px;}
.width_1000{width:1000px;}
.height_735{height:735px;}

/*
.top_box{margin:0 auto; height:80px; position:relative; background:#f6f5ef; margin-bottom:40px; position:relative;}
.top_box ul{line-height: 80px; text-align:center;} 
.top_box ul li{display:inline; padding:0 25px;}
.top_box ul li a{color:black; font-weight:bold; font-size:17px;}
.top_box spen{position:absolute; top:27px; right:369px;}
.top_box spen a{color:black;}
*/

.top_box{width:100%;height:80px;background:#f6f5ef; margin-bottom:40px;text-align:center;}
.top_box .gnb{width:950px;margin:0 auto;line-height:80px;height:80px;position:relative;}
.top_box .gnb ul{display:inline-block;height:inherit;} 
.top_box .gnb ul li{float:left;height:inherit;padding:0 25px;}
.top_box .gnb ul li a{color:black; font-weight:bold; font-size:17px;}
.top_box .gnb p{position:absolute; top:13px; right:0px; line-height:0px; font-size:12px;}
.top_box .gnb p a{color:black;}

.menu_box{width:100%;}
.menu_box ul{margin:0 auto; width:950px;}
.menu_box ul li{width:200px; height:248px; float:left; margin-right:50px; margin-bottom:20px; text-align:center;}
/*.menu_box ul li:nth-child(4), .menu_box ul li:nth-child(8), .menu_box ul li:nth-child(12),
.menu_box ul li:nth-child(16), .menu_box ul li:nth-child(20), .menu_box ul li:nth-child(24) {margin-right:0px; margin-bottom:0px;}*/
.menu_box ul li:nth-child(4n+0) {margin-right:0px; margin-bottom:0px;} /*4배수*/
.menu_box ul li a{color:black;}
.menu_box ul li a div{width:200px; height:200px;}
.menu_box ul li a div img{width:100%; height:100%;}
.menu_box ul::after{display:block;content:'';clear:both;}

.menu_detail{clear:both; margin: 0 auto;}
.menu_detail .content_box .option{margin-bottom:15px;}
.menu_detail .content_box .option form div{float:left; width:500px; text-align:center; margin-bottom:10px;}
.menu_detail .content_box .option form div p{font-size:15px; font-weight:500; float:left; width:120px; height:30px; color:white; background:#1e3932; border-radius:5px; line-height:30px;}
.menu_detail .content_box .option form div label{display:inline-block; width:100px; height:25px; margin-right:20px;}
.menu_detail .content_box .option form div label:nth-child(4){margin-right:0px;}
.menu_detail .content_box .option form div label span{display:block; width:inherit; height:inherit; border:1px solid black; border-radius:5px; font-size:13px; line-height:25px;}
.menu_detail .content_box .option form div label input[type="radio"]{display:none;}
.menu_detail .content_box .option form div label input[type="radio"]:checked + span{border:3px solid #1e3932;} /* + 는 형제요소 선택*/
.menu_detail .content_box .option form button{border:1px solid #1e3932; border-radius:2.5px; background:#1e3932; padding: 7px 7px; color:white; width:230px;}
.menu_detail .img_box{width:450px; height:470px; float:left; margin-right:50px;}
.menu_detail .img_box img{width:100%; height:100%;}
.menu_detail .content_box{float:left; width:500px; margin-bottom:30px;}
.menu_detail .content_box .name{font-weight:bold; font-size:25px;}
.menu_detail .content_box .context{line-height:1.6;}
.dl_box{padding-right:25px; margin-right:25px; border-right:0.5px dotted #D5D5D5;}
.menu_detail .content_box dl{float:left; width:220px; color: #444; font-size:14px; margin-bottom:25px;}
.menu_detail .content_box dl dt {float:left;}
dd{text-align:right; margin-bottom:15px;}
.menu_detail .content_box .allergy{clear:both; background:#f4f4f2; font-size:14px; padding: 13px 11px;}
.menu_detail .img_box::after{display:block;content:'';clear:both;}
.menu_detail .option::after{display:block;content:'';clear:both;}
.menu_detail .content_box::after{display:block;content:'';clear:both;}

.login form{margin:0 auto; width:300px; height:500px; padding:30px;}
.login form p{font-size:24px; font-weight:500; margin-bottom:24px;}
.login form input{border-bottom:1px solid gray; width:300px; margin-bottom:20px;}
.login form input:focus { outline: none; } /* 눌렀을 때 네모난 창 없애기 */
.login form button{width:300px; background:#4C4C4C; color:white; font-size:13px; height:50px; margin-bottom:20px;}
.login form .join_box a{color:gray; font-size:12px;}
.login form .join_box{color:gray; font-size:12px; text-align:center;}

.join form{margin:0 auto; width:300px; height:500px; padding:30px;}
.join form p{font-size:24px; font-weight:500; margin-bottom:24px;}
.join form input{border-bottom:1px solid gray; width:300px; margin-bottom:20px;}
.join form input:focus { outline: none; } /* 눌렀을 때 네모난 창 없애기 */
.join form button{width:300px; background:#4C4C4C; color:white; font-size:13px; height:50px; margin-bottom:20px;}

.cart_box{width:500px; margin: 0 auto; height:700px;}
.cart_box .header{width:inherit; height:50px; background:#2C2A29; position:relative;}
.cart_box .header p{color:white; font-size:24px; padding-top:5px; padding-left:15px; font-weight:500;}
.cart_box .header p a{font:caption; position:absolute; top:16px; right:15px; cursor:pointer;}
.cart_box .header p a i{font-size:20px; color:white;}
.cart_box ul li{border-bottom:1px solid #BDBDBD; position:relative;}
.cart_box ul li .img_box{width:130px; height:130px; border-radius:70%; overflow: hidden; float:left; margin:10px;}
.cart_box ul li .img_box img{width:100%; height:100%;}
.cart_box ul li .delete_box{position:absolute; top:4px; right:12px;}
.cart_box ul li .delete_box i{font-size:20px; color:#8C8C8C; cursor:pointer;}
.cart_box ul li .cart_detail{width:310px; height:110px; float:left; padding:20px; line-height:1.9;}
.cart_box ul li .cart_detail p{font-size:15px; font-weight:400; color:#8C8C8C; }
.cart_box ul li .cart_detail .name{font-size:24px; font-weight:500; color:black;}
.cart_box ul li .cart_detail .box{font-size:18px; font-weight:500; color:black;}
.cart_box ul li .cart_detail p .price_box{float:right;}
.cart_box ul li .cart_detail .box .ea{padding:0px 10px;}
.cart_box ul li .cart_detail .box button{font:caption; cursor:pointer;} /* reset.css 에 있는 button font 초기화*/
.cart_box ul li .cart_detail .box button i{font-size:20px; color:#8C8C8C;}
.cart_box .order_box p{padding:15px; margin-bottom:10px;}
.cart_box .order_box p .menu_sum{font-size:18px; color:#BD9424;}
.cart_box .order_box p .sum{font-size:24px; font-weight:500; float:right;}
.cart_box .order_box form button{width:400px; height:50px; color:white; background:#1e3932; display:block; margin:0 auto; border-radius:30px; cursor:pointer;}
.cart_box ul li::after{display:block;content:'';clear:both;}

.order_box{width:500px; margin: 0 auto;}
.order_box .header{width:inherit; height:50px; background:#2C2A29; position:relative;}
.order_box .header p{color:white; font-size:24px; padding-top:5px; padding-left:15px; font-weight:500;}
.order_box ul li .order_header{font-size:18px; font-weight:500; padding:10px; background:#670000; color:#BDBDBD;}
.order_box ul li .sum_box{float:right;}
.order_box ul li ul li{border-bottom:1px solid #BDBDBD;}
.order_box ul li ul li a .img_box{width:130px; height:130px; border-radius:70%; overflow: hidden; float:left; margin:10px;}
.order_box ul li ul li a .img_box img{width:100%; height:100%;}
.order_box ul li ul li a .order_detail_box{width:310px; height:110px; float:left; padding:20px; line-height:1.0;}
.order_box ul li ul li a .order_detail_box .price_box{float:right;}
.order_box ul li ul li a .order_detail_box .name{font-size:18px; font-weight:500; color:black;}
.order_box ul li ul li a .order_detail_box p{font-size:15px; font-weight:400; color:#8C8C8C; padding:10px 0px;}
.order_box ul li ul li a .order_detail_box .ea{font-size:18px; font-weight:500; color:black;}
.order_box ul li::after{display:block;content:'';clear:both;}

.footer_box{width:100%; height:150px; background:#2C2A29; margin-top:100px; color:white; text-align:center; line-height:150px; font-size:25px; font-weight:500;}